In [1]:
# importing libraries
import pandas as pd
import requests
from SPARQLWrapper import SPARQLWrapper, BASIC

In [2]:
# reading the csv-files
courses = pd.read_csv('csv/Courses.csv')
assigned_hours = pd.read_csv('csv/Assigned_Hours.csv')
course_plannings = pd.read_csv('csv/Course_Plannings.csv')
programme_courses = pd.read_csv('csv/Programme_Courses.csv')
programmes = pd.read_csv('csv/Programmes.csv')
registrations = pd.read_csv('csv/Registrations.csv')
reported_hours = pd.read_csv('csv/Reported_Hours.csv')
senior_teachers = pd.read_csv('csv/Senior_Teachers.csv')
students = pd.read_csv('csv/Students.csv')
teaching_assistants = pd.read_csv('csv/Teaching_Assistants.csv')

### Checking csv-files
The following blocks below are showing how the csv-files are constructed.

In [3]:
courses.head(1)

  Course name  Course code  Credits         Level Department Division Owned By
0         C-1         1001      7.5  Second Cycle         D6     D6-5     P-52

In [4]:
assigned_hours.head(1)

,Course code,Study Period,Academic Year,Teacher Id,Hours,Course Instance
0,1763,1.0,2010-2011,19680307-0062,240.0,I-1

In [5]:
course_plannings.head(1)

  Course  Planned number of Students  Senior Hours  Assistant Hours
0    I-1                         100           260              700

In [6]:
programme_courses.head(1)

   Programme code  Study Year Academic Year  Course Course Type
0           10001         1.0     2010-2011    1763  compulsory

In [7]:
programmes.head(1)

  Programme name  Programme code Department name       Director
0           P-01           10001              D1  19591012-0095

In [8]:
registrations.head(1)

  Course Instance     Student id     Status  Grade
0           I-910  19870405-0000  completed    3.0

In [9]:
reported_hours.head(1)

  Course code     Teacher Id  Hours
0         I-1  19680307-0062  229.0

In [10]:
senior_teachers.head(1)

  Teacher name     Teacher id Department name Division name
0    Teacher 1  19550711-0001              D1          D1-3

In [11]:
students.head(1)

  Student name     Student id  Programme  Year  Graduated
0    Student 1  19980118-0000      10012  2021      False

In [12]:
teaching_assistants.head(1)

  Teacher name     Teacher id Department name Division name
0       TA 151  19780321-0151              D1          D1-2

### Load csv into graphDB

In [52]:
db = SPARQLWrapper('http://Ezz:7200/repositories/assignment3/statements')

In [49]:
def prefixes() -> str:
    ss = '''
                prefix : <http://www.semanticweb.org/huiqing/ontologies/2022/3/untitled-ontology-2#> 
                prefix owl: <http://www.w3.org/2002/07/owl#> 
                prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> 
                prefix xml: <http://www.w3.org/XML/1998/namespace> 
                prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
                prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>                     
                '''
    return ss

qq = prefixes()

db = SPARQLWrapper('http://Ezz:7200/repositories/assignment3/statements')

In [ ]:
# department

In [ ]:
for row in students.iterrows():
    curr = row[1]
    qstring = """INSERT DATA {
                    :'%s' :rdf:Type :Individual ; 
                    :hasID :'%s' ; 
                    :hasName '%s' .
                }""" %(curr['Student id'],curr['Student id'], curr['Student name'])
    db.method = 'POST'
    db.setQuery(qq + qstring)
    db.queryType = "INSERT"
    res = db.query()

In [ ]:
res

In [56]:
graphdb_url = 'http://Ezz:7200/repositories/assignment3'
##Insert into Sesame
for s,p,o in programmes.iterrows():
    #pprint.pprint ((s,p,o))
    print(s,p,o)
    queryStringUpload = 'INSERT DATA {%s %s %s}'  %(s,p,o)
    # queryStringUpload = 'DELETE WHERE {?s ?p ?o .}'
    # print queryStringUpload
    sparql = SPARQLWrapper(graphdb_url)
    sparql.method = 'POST'
    sparql.setQuery(queryStringUpload)
    db.queryType = "INSERT"
    sparql.query()

ValueError: not enough values to unpack (expected 3, got 2)

In [53]:
def to_query(s) -> None:
    '''
    to_query runs connection to the db. 
    s is a concatenated sting. 
    When calling this function, you need to concatenate the string in the method call
    ----
    Example: to_query(s1 + s2)
    '''
    qstring = 'INSERT DATA {%s} ' %(s)
    
    db.method = 'POST'
    db.setQuery(s)
    db.query()

def prefixes() -> str:
    ss = '''
                prefix : <http://www.semanticweb.org/huiqing/ontologies/2022/3/untitled-ontology-2#> 
                prefix owl: <http://www.w3.org/2002/07/owl#> 
                prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> 
                prefix xml: <http://www.w3.org/XML/1998/namespace> 
                prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
                prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>                     
                '''
    return ss

def start_end_str() -> str:
    ins = 'INSERT DATA {'
    ins_end = '}' 
    return ins, ins_end

# ********************************************
#  --- instering for the different classes ---
# ********************************************

def student_data(n, sid) -> str:
    start, end = start_end_str()
    line_1 = f": '{n}' rdf:type :Individual ;"
    line_2 = f":hasID '{sid}' ;"
    line_3 = f":hasName '{n}' ."
    #con_strs = start + line_1 + line_2 + line_3 + end
    con_strs = line_1 + line_2 + line_3
    return con_strs

def teacher_assistand(n, tid):
    start, end = start_end_str()
    line_1 = f": '{n}' rdf:type :Individual ;"
    line_2 = f":hasID '{tid}' ;"

def senior_teacher():
    start, end = start_end_str()

In [54]:
# Enter data for students
for row in students.iterrows():
    curr = row[1]
    start = prefixes()
    sdata = student_data(curr['Student name'], curr['Student id'])
    to_query(start + sdata)

HTTPError: HTTP Error 415:

In [ ]:
for row in students.iterrows():
    #print(row)
    for i in row:
        pass

In [ ]:
slist = []
slist.append(student_data(curr['Student name'], curr['Student id']))

In [36]:
from SPARQLWrapper import SPARQLWrapper, BASIC

db = SPARQLWrapper("http://localhost:7200/repositories/wikidata/statements")
query = '''
INSERT {<http://example.com/123456789879> a owl:Thing .}
WHERE {}
'''
db.setHTTPAuth(BASIC)
db.setCredentials('login', 'password')
db.setQuery(query)
db.method = "POST"
db.setReturnFormat('json')
db.queryType = "INSERT"
result = db.query()

EndPointNotFound: EndPointNotFound: It was not possible to connect to the given endpoint: check it is correct.

Response:
b'Unknown repository: wikidata'