In [192]:
import pandas as pd

from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
test_data = pd.read_csv('a3_train_final.tsv', sep='\t',  names=['Y', 'comment'])
train_data = pd.read_csv('a3_test_final.tsv', sep='\t',  names=['Y', 'comment'])

In [3]:
test_data.head(5)

          Y                                            comment
0      0/-1   It is easier to fool a million people than it...
1       0/0   NATURAL IMMUNITY  protected us since evolutio...
2      0/-1   NATURAL IMMUNITY  protected us since evolutio...
3  1/1/1/-1   The bigest sideffect of vaccines is fewer dea...
4      1/-1   Unvaccinated people are more likely to become...

In [163]:
# remove all emojis
import re
test_data['comment'] = test_data['comment'].str.replace('[^\w\s#@/:%.,_-]', '', flags=re.UNICODE)
train_data['comment'] = train_data['comment'].str.replace('[^\w\s#@/:%.,_-]', '', flags=re.UNICODE)

In [164]:
test_data.head(5)

          Y                                            comment
0      0/-1   It is easier to fool a million people than it...
1       0/0   NATURAL IMMUNITY  protected us since evolutio...
2      0/-1   NATURAL IMMUNITY  protected us since evolutio...
3  1/1/1/-1   The bigest sideffect of vaccines is fewer dea...
4      1/-1   Unvaccinated people are more likely to become...

In [165]:
def spit_col(df):
    #ew_df = pd.DataFrame()
    split_df = df['Y'].str.split('/', n=30, expand=True)
    cc = split_df.mode(axis=1).iloc[:,0]
    return cc

In [167]:
cc = spit_col(test_data)

In [218]:
new_df = pd.DataFrame(cc)
df_temp = pd.DataFrame(test_data['comment'])
df2 = new_df.join(df_temp)
df = df2.rename(columns={0: 'Y'})
df

        Y                                            comment
0      -1   It is easier to fool a million people than it...
1       0   NATURAL IMMUNITY  protected us since evolutio...
2      -1   NATURAL IMMUNITY  protected us since evolutio...
3       1   The bigest sideffect of vaccines is fewer dea...
4      -1   Unvaccinated people are more likely to become...
...    ..                                                ...
26192   0                                         no vaccine
26193  -1
26194   0   keep your  I already know 3 people who have b...
26195   0   JUST BECAUSE ITS SAFE, DOESNT MEAN IT DOESNT ...
26196   0  theres people already having severe side effec...

[26197 rows x 2 columns]

In [219]:
X_train, X_eval, Y_train, Y_eval = train_test_split(df['comment'], df['Y'], test_size=0.2, random_state=12345)

In [220]:
def train_document_classifier(X, Y):
    pipeline = make_pipeline( TfidfVectorizer(), LinearSVC() )
    pipeline.fit(X, Y)
    return pipeline

In [221]:
clf_comments = train_document_classifier(X_train, Y_train)

In [223]:
bb_acc = accuracy_score(Y_eval, clf_comments.predict(X_eval))
bb_acc

0.7270992366412213

In [152]:
new_df

        0
0      -1
1       0
2      -1
3       1
4      -1
...    ..
26192   0
26193  -1
26194   0
26195   0
26196   0

[26197 rows x 1 columns]

In [123]:
def spit_col(df):
    #ew_df = pd.DataFrame()
    split_df = df['Y'].str.split('/', n=30, expand=True)
    return split_df

In [124]:
test = spit_col(test_data)
test

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0,-1,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,0,0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,0,-1,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,1,1,1,-1,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,1,-1,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26192,0,0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
26193,0,-1,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
26194,0,0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
26195,0,0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
26196,0,0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [129]:
cc = test.mode(axis=1).iloc[:,0]

0        -1
1         0
2        -1
3         1
4        -1
         ..
26192     0
26193    -1
26194     0
26195     0
26196     0
Name: 0, Length: 26197, dtype: object

In [137]:
new_df = pd.DataFrame(cc)
new_df.join(test_data['comment'])

        0                                            comment
0      -1   It is easier to fool a million people than it...
1       0   NATURAL IMMUNITY  protected us since evolutio...
2      -1   NATURAL IMMUNITY  protected us since evolutio...
3       1   The bigest sideffect of vaccines is fewer dea...
4      -1   Unvaccinated people are more likely to become...
...    ..                                                ...
26192   0                                         no vaccine
26193  -1
26194   0   keep your  I already know 3 people who have b...
26195   0   JUST BECAUSE ITS SAFE, DOESNT MEAN IT DOESNT ...
26196   0  theres people already having severe side effec...

[26197 rows x 2 columns]

In [121]:
def spit_col(df):
    #ew_df = pd.DataFrame()
    split_df = df['Y'].str.split('/', n=30, expand=True)
    return split_df

def get_comments(df_number, df):
    new_df = pd.DataFrame(columns=['Y', 'comment'])
    print(new_df.head())
    for i in range(len(df_number)):
        s = df['comment']
        for j in range(i):
            if j == None:
                continue
            else:
                df2 = pd.DataFrame([j, s], index=['Y', 'comment'])
                new_df.append(df2)

In [122]:
test = spit_col(test_data)
test
#t2 = get_comments(test, df)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0,-1,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,0,0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,0,-1,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,1,1,1,-1,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,1,-1,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26192,0,0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
26193,0,-1,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
26194,0,0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
26195,0,0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
26196,0,0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

AttributeError: 'list' object has no attribute 'split'

In [28]:
def split_Y(df, Y):
    new_df = pd.DataFrame()
    mel_count = count_digits(df[Y])
    dig = [int(x) for x in str(n)]
    if mel_count>0:
        res = df['Y'].strip('/')
        print ("There are {m} /".format(m=mel_count))
        
        
def count_digits(string):
    return sum(item.isdigit() for item in string)

In [29]:
split_Y(test_data, 'Y')

AttributeError: 'Series' object has no attribute 'strip'

In [46]:
def split_Y(df, Y):
    new_df = pd.DataFrame()
    cc = 0
    for index, row in df.iterrows():
        df['Y'].replace('/', ' ')
        print(df.head())
        dig = [int(row) for x in str(row)]
        cc = count_digits(row[index])
        print('-->',index)
        #cc = df[Y].str.contains('/').sum()
        if cc > 0:
            for i in range(0,cc):
                print(cc)
                new_df += row             
        cc = 0
    return new_df

In [47]:
df = split_Y(test_data, 'Y')

          Y                                            comment
0      0/-1   It is easier to fool a million people than it...
1       0/0   NATURAL IMMUNITY  protected us since evolutio...
2      0/-1   NATURAL IMMUNITY  protected us since evolutio...
3  1/1/1/-1   The bigest sideffect of vaccines is fewer dea...
4      1/-1   Unvaccinated people are more likely to become...

TypeError: cannot convert the series to <class 'int'>